@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Here's our contact details:</p>
<p>Name: TravelWebsite</p>
<p>Founder: Bibek Poudel</p>
<p>Phone: 647 XXX XXXX</p>
<p>Email: travelwebsite@sth.com</p>
<p>Location: One Georgian Dr., Barrie, On</p>
